@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #5B6AED;
  --color-secondary: #A78BFA;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --font-sans: Inter, system-ui, sans-serif;
}